Repository SaikatSantra/shopify-theme-run, changes with the labels that .github/labeler.yml gives for each.
All labels: appLayer, scripts, styles, config, layouts, locales, sections, snippets, templates, redux, portals, package, webpack, tsconfig, eslint

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
appLayer:
  - src/app-layer/**/*

scripts:
  - src/scripts/**/*

styles:
  - src/styles/**/*

config:
  - theme/config/**/*

layouts:
- theme/layouts/**/*

locales:
- theme/locales/**/*

sections:
- theme/sections/**/*

snippets:
- theme/snippets/**/*

templates:
- theme/templates/**/*

redux:
- src/app-layer/store/**/*

portals:
- src/app-layer/components/portals/**/*

package: 
- package.json

webpack: 
- webpack.*.js

tsconfig: 
- tsconfig.json

eslint:
- .eslintrc.json

testing branch
  .eslintignore
  .eslintrc.json
  .stylelintrc
Labels: eslint

update theme
  theme/assets/sc-template.password.dev.css
  theme/assets/sj-template.cart.dev.js
  theme/assets/sj-template.customer.dev.js
  theme/assets/sj-template.gift-card.dev.js
  theme/assets/sj-template.page.dev.js
  theme/assets/sj-template.product.dev.js
Labels: none

FlairConsultancy theme
  .github/workflows/build-testing.yml
  .github/workflows/build.yml
Labels: none

Squashed 'theme/' changes from e01a1cd..2e6c96e
  assets/sc-template.password.dev.css
  assets/sj-template.cart.dev.js
  assets/sj-template.customer.dev.js
  assets/sj-template.gift-card.dev.js
  assets/sj-template.page.dev.js
  assets/sj-template.product.dev.js
  config/settings_data.json
Labels: none

change theme.liquid
  theme/layout/theme.liquid
Labels: none

create multicollumn section
  theme/assets/multicolumn-section.css
  theme/sections/multicolumn-section.liquid
  tools/createSection.js
Labels: sections

update settings
  theme/assets/multicolumn-section.css
  theme/sections/multicolumn-section.liquid
Labels: sections

Squashed 'theme/' changes from 2e6c96e..dc43802
  assets/multicolumn-section.css
  layout/theme.liquid
  sections/multicolumn-section.liquid
  templates/index.json
Labels: none

update settings
  theme/sections/multicolumn-section.liquid
Labels: sections

Squashed 'theme/' changes from dc43802..6cd71d2
  assets/multicolumn-section.css
  sections/multicolumn-section.liquid
Labels: none

Squashed 'theme/' changes from 6cd71d2..0ae616f
  sections/multicolumn-section.liquid
  templates/index.json
Labels: none

update image with text
  theme/assets/multicolumn-section.css
  theme/assets/section-multicolumn.css
  theme/sections/featured-blog.liquid
  theme/sections/multicolumn-section.liquid
  theme/snippets/image-with-text-card.liquid
  theme/templates/index.json
Labels: sections, snippets, templates

Squashed 'theme/' changes from 0ae616f..679e1a3
  templates/index.json
Labels: none

Squashed 'theme/' changes from 679e1a3..2a70a81
  assets/multicolumn-section.css
  assets/section-multicolumn.css
  sections/featured-blog.liquid
  sections/multicolumn-section.liquid
  snippets/image-with-text-card.liquid
  templates/index.json
Labels: none

update code
  theme/assets/multicolumn-section.css
  theme/sections/multicolumn-section.liquid
  theme/snippets/collection-card.liquid
  theme/snippets/image-with-text-card.liquid
  theme/snippets/product-card.liquid
  theme/templates/index.json
Labels: sections, snippets, templates

updated theme
  theme/assets/base.css
  theme/assets/multicolumn-section.css
  theme/assets/sc-template.password.dev.css
  theme/assets/section-main-product.css
  theme/assets/section-multicolumn.css
  theme/assets/sj-template.cart.dev.js
  theme/assets/sj-template.customer.dev.js
  theme/assets/sj-template.gift-card.dev.js
  theme/assets/sj-template.page.dev.js
  theme/assets/sj-template.product.dev.js
  theme/config/settings_data.json
  theme/layout/theme.liquid
  theme/sections/featured-blog.liquid
  theme/sections/footer.liquid
  theme/sections/header-group.json
  theme/sections/multicolumn-section.liquid
  theme/snippets/multicolumn-collection-card.liquid
  theme/templates/index.json
Labels: config, sections, snippets, templates

Squashed 'theme/' changes from 2a70a81..ca8a889
  assets/multicolumn-section.css
  sections/header-group.json
  sections/multicolumn-section.liquid
  snippets/collection-card.liquid
  snippets/image-with-text-card.liquid
  snippets/product-card.liquid
  templates/index.json
Labels: none

update code
  theme/assets/multicolumn-section.css
  theme/assets/sc-template.password.dev.css
  theme/assets/sj-template.cart.dev.js
  theme/assets/sj-template.customer.dev.js
  theme/assets/sj-template.gift-card.dev.js
  theme/assets/sj-template.page.dev.js
  theme/assets/sj-template.product.dev.js
  theme/sections/multicolumn-section.liquid
Labels: sections
